@font-face {
    font-family: 'nebulousregular';
    src: url('fonts/nebulousregular-54av-webfont.woff') format('woff'),
         url('fonts/nebulousregular-54av-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;;
    flex: 0 0 auto;

}

main {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 4fr 3fr ;
    grid-template-rows: 300px 600px;
    background-color: aquamarine;
    position: static;
    overflow:auto;
}

h3 {
    margin-bottom: 0;
    margin-top: 0;
}

h4 {
    margin-bottom: 0;
    margin-top: 4px;
}

.top-main1 {
    width: 100%;
    background-color: #ffa221;
    display: grid;
    grid-template-columns: 2fr 2fr;
    position: static;
}

.top-main2 {
    width: 100%;
    /* background-color: #F4A261; */
    background-image: url(img/racing.jpg);
    display: grid;
    grid-template-columns: 2fr 4fr;
    color: aliceblue;
}

.top-main3 {
    width: 100%;
    background-color: #ffa221;
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.top-main4 {
    width: 100%;
    background-color: #E9C46A;
    display: grid;
    grid-template-rows: 50% 50%;
    box-shadow: 20px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.top-main5 {
    width: 100%;
    background-image: url(img/redwins.gif);
    background-size: 110%;
    background-position: center;
    background-repeat: repeat;
    position: static;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.5);
}

.logo img {
    /* width: 60%; */
    height: 80%;
}

.weatherbar {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.weather {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.weather div {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.insidediv p {
    margin-left: 30px;
}

.insidediv img {
    width: 100%;
}

.stat {
    padding-left: 20px;

}

#condHeader {
    font-size: 1.2em;

}

.top-main6 {
    width: 100%;
    background-color: #E9C46A;
    display: grid;
    grid-template-rows: 50% 50%;
    box-shadow: 20px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.carshop img {
    scale: 120%;
    z-index: 0;
    left: - 20px
}

.carimg {
    padding: 30px;
}

#car01img {
    width: 100%;

}

.money {
    display: flex;
    justify-content:center;
    flex-wrap: nowrap;
}

.levels {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    position: static;
}

.upgradelevels {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
    position: static;
}

.betfield {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    position: static;
}

.statusbar {
    width: 150px;
    height: 10px;
    background-color: aliceblue;
}

#status01 {
    width: 10px;
    height: 10px;
    background-color: rgb(5, 248, 14);
}

#status02 {
    width: 10px;
    height: 10px;
    background-color: rgb(5, 248, 14);
}

#status03 {
    width: 10px;
    height: 10px;
    background-color: rgb(5, 248, 14);
}

#status04 {
    width: 10px;
    height: 10px;
    background-color: rgb(5, 248, 14);
}


#status0102 {
    width: 10px;
    height: 10px;
    background-color: rgb(5, 248, 14);
}

#status0202 {
    width: 10px;
    height: 10px;
    background-color: rgb(5, 248, 14);
}

#status0302 {
    width: 10px;
    height: 10px;
    background-color: rgb(5, 248, 14);
    /* background: linear-gradient(to right, rgb(0, 255, 0), red); */
}

#status0402 {
    width: 10px;
    height: 10px;
    background-color: rgb(5, 248, 14);
}

.top-main5 {
    display: flex;
    justify-content: center;
}

.roadback {
    width: 600px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    position: relative;
}

.road {
    height: 100%;
    width: 40px;
    background-color: black;
    margin-left: 5px;
    position: relative;
}


.upgradefield {
    display: grid;
    grid-template-rows: repeat(1fr);
}

.upgradefield div {
    display: flex;
    justify-content: center;
}

/* Button for upgrades */


.upgradebutton {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  line-height: 1;
  margin: 0;
  min-height: 2rem;
  padding: calc(.475rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.upgradebutton:hover,
.upgradebutton:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.upgradebutton:hover {
  transform: translateY(-1px);
}

.upgradebutton:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

#brakes01 {
    margin-bottom: 15px;
}

#brakes02 {
    margin-bottom: 15px;
}

#player01stat {
    margin-bottom: 0;
}

#player02stat {
    margin-top: 0;
}

#betbutton {
    padding: 15px;
    width: 170px;
}

#readybutton {
    padding: 15px;
    width: 170px;
}

#betbutton02 {
    padding: 15px;
    width: 170px;
}

#readybutton02 {
    padding: 15px;
    width: 170px;
}


.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 1ms;
    visibility: hidden;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 270px auto;
    padding: 20px;
    background: #E9C46A;
    border-radius: 5px;
    width: 30%;
    height: 30%;
    position: relative;
    /* transition: all 500ms ease-in-out; */
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
  }

  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #f8ac16;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }